body {
    margin: 0;
    font-family: sans-serif;
    background-color: gray;
}

.app {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

.container {
    display: grid;
    grid-gap: 10px;
    background-color: #fff;
}

label {
    color: black;
}

input {
    outline: none;
}

input,
select {
    border: none;
    width: 100%;
    height: 50px;
}

input,
input::placeholder {
    font: 20px/3 sans-serif;
}

.form-box {
    background-color: white;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
}

.form-box:hover {
    background-color: lightgray;
}

.a {
    grid-column: 1 / 3;
    grid-row: 1;
}

.b {
    grid-column: 1;
    grid-row: 2;
}

.c {
    grid-column: 2;
    grid-row: 2;
}

button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button2 {
    background-color: #f44336;
}

i {
    font-size: 16px;
    margin-right: 10px;
}

.all-lists {
    display: flex;
    min-height: 50px;
    min-width: 50px;
}

.all-lists>.list {
    padding: 10px;
}

.all-lists>.list:nth-child(2) {
    flex: 1;
    text-align: left;
}

.all-lists>.list:nth-child(3) {
    flex: 1;
    text-align: right;
}

.description {
    font-size: large;
    color: gray;
    font-weight:bold;
    margin-bottom: 0px;
}

.date {
    font-size: medium;
    color: gray;
    font-weight: 100;
}

.list>.category {
    background-color: purple;
    text-align: right;
}

.list>.sub-list {
    text-align: left;
}

.list>.category {
    text-align: right;
}

input[type="checkbox"] {
    width: 25px;
    height: 50px;
}

input[type="checkbox"]:checked ~ .list .description {
    text-decoration: line-through;
}
input[type="checkbox"]:checked ~ .list .date {
    text-decoration: line-through;
}

a{
    text-decoration: none;
    color: white;
}